body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  background-image: url("./background.jpg");
  /*background-color: crimson;*/
  background-size: cover;
  /*background-position: center;*/
  width: 98vw;
}

.header_text {
  font-family: "Nunito";
  font-size: 40px;
  font-weight: bold;
  color: azure;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
}

.btn {
  background-color: azure;
  color: darkred;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}

img {
  display: block;
  margin: 0 auto;
}

.navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2%;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
